<h1 mat-dialog-title>New column</h1>
<form class="margin-top" form autocomplete="off" (submit)="createNewTodoColumn(newTodoColumnTitle.value)">
  <div mat-dialog-content>


    <mat-form-field appearance="fill">
      <mat-label>Column name</mat-label>
      <input #newTodoColumnTitle matInput placeholder="">
    </mat-form-field>


  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>close</button>
    <button type="submit" mat-raised-button mat-dialog-close color="primary">Submit</button>
  </div>

</form>